@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
 
.icon-power:before { content: "\e801"; }