.user-panel {
  position: absolute;
  top: 15px; right: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  transform-style: preserve-3d;
  perspective: 500px;
}