<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript">
    var socket = new WebSocket("ws://localhost:5001")
    var sessionId = localStorage.getItem("socket_session_id")

    socket.addEventListener("open", function (event) {
      socket.send(JSON.stringify({
        identifier: "socket_open_session_id",
        data: [ sessionId ]
      }));

      socket.send(JSON.stringify({
        identifier: "signup.request",
        data: [ window.location.search.slice(6) ]
      }));

      window.close()
    });
  </script>
</head>
<body>
  Google access setup...
</body>
</html>